* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: darkblue;
  color: #fff;
  padding: 19px;
  opacity: 0.9;
  display: none;
}
